<!DOCTYPE web-app PUBLIC
 "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
 "http://java.sun.com/dtd/web-app_2_3.dtd" >

<web-app>
  <display-name>Archetype Created Web Application</display-name>
  <filter>
  	<filter-name>EncodingFilter</filter-name>
  	<display-name>EncodingFilter</display-name>
  	<description></description>
  	<filter-class>com.hand.filter.EncodingFilter</filter-class>
  	    <init-param>
      <param-name>encoding</param-name>
      <param-value>UTF-8</param-value>
    </init-param>
  </filter>
  <filter>
  	<filter-name>PermissionFilter</filter-name>
  	<display-name>PermissionFilter</display-name>
  	<description></description>
  	<filter-class>com.hand.filter.PermissionFilter</filter-class>
  </filter>
  <filter-mapping>
  	<filter-name>EncodingFilter</filter-name>
  	<url-pattern>/*</url-pattern>
  </filter-mapping>
  <filter-mapping>
  	<filter-name>PermissionFilter</filter-name>
  	<url-pattern>/*</url-pattern>
  </filter-mapping>
  <servlet>
  	<servlet-name>test</servlet-name>
  	<display-name>test</display-name>
  	<description></description>
  	<servlet-class>com.hand.test</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>loginChatServlet</servlet-name>
  	<display-name>loginChatServlet</display-name>
  	<description></description>
  	<servlet-class>com.hand.servlet.loginChatServlet</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>SelectFilmServlet</servlet-name>
  	<display-name>SelectFilmServlet</display-name>
  	<description></description>
  	<servlet-class>com.hand.servlet.SelectFilmServlet</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>insertServlet</servlet-name>
  	<display-name>insertServlet</display-name>
  	<description></description>
  	<servlet-class>com.hand.servlet.insertServlet</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>insertFilmServlet</servlet-name>
  	<display-name>insertFilmServlet</display-name>
  	<description></description>
  	<servlet-class>com.hand.servlet.insertFilmServlet</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>updateFilmServlet</servlet-name>
  	<display-name>updateFilmServlet</display-name>
  	<description></description>
  	<servlet-class>com.hand.servlet.updateFilmServlet</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>deleteFilmServlet</servlet-name>
  	<display-name>deleteFilmServlet</display-name>
  	<description></description>
  	<servlet-class>com.hand.servlet.deleteFilmServlet</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>loginOutServlet</servlet-name>
  	<display-name>loginOutServlet</display-name>
  	<description></description>
  	<servlet-class>com.hand.servlet.loginOutServlet</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>selectFilmByPageServlet</servlet-name>
  	<display-name>selectFilmByPageServlet</display-name>
  	<description></description>
  	<servlet-class>com.hand.servlet.selectFilmByPageServlet</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>test</servlet-name>
  	<url-pattern>/test</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>loginChatServlet</servlet-name>
  	<url-pattern>/loginChatServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>SelectFilmServlet</servlet-name>
  	<url-pattern>/SelectFilmServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>insertServlet</servlet-name>
  	<url-pattern>/insertServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>insertFilmServlet</servlet-name>
  	<url-pattern>/insertFilmServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>updateFilmServlet</servlet-name>
  	<url-pattern>/updateFilmServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>deleteFilmServlet</servlet-name>
  	<url-pattern>/deleteFilmServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>loginOutServlet</servlet-name>
  	<url-pattern>/loginOutServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>selectFilmByPageServlet</servlet-name>
  	<url-pattern>/selectFilmByPageServlet</url-pattern>
  </servlet-mapping>
</web-app>
